.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

h3 {
  display: none; }

h1 {
  display: none; }

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px; }

.carousel {
  position: relative; }

.navbar-brand img {
  width: 55%; }

.font-black {
  color: black;
  background-color: transparent; }

.font-white {
  color: white;
  background-color: transparent; }

.font-grey {
  color: grey;
  background-color: transparent; }
